<p> Welcome <%= user.fname %></p>
<p> Welcome <%= user.email %></p>
<p> Welcome <%= user.age %></p>
<p> Welcome <%= user._id %></p>
<p> Welcome <%= user.password %></p>
<p> Welcome <%= user.date.getMinutes() %></p>
<p> Welcome <%= user.__v %></p>


<p><a href="/jobs/6060d964d3e14953ac3ddbfd">Complete your progress</a></p>
