
  <%- include ('./partials/header',{user:user}) %>


<!-- Profile -->
<div>
    <img src="/images/profile-pics/<% if (user.avatar) { %><%= user.avatar %><% } else { %>default.png<% } %>" style="width: 150px;height: 150px;margin-left: 20px;float: left;padding: 0 10px 0 0;">
	<p style="margin-left: 30px;">
	 <span style="font-size: 30px;"><%= user.fname %> <%= user.lname %></span>
	 <br>
     <%= user.age %> years <br><br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
		<br><br>

        <form method="POST" action="/users/upload" enctype="multipart/form-data">
            <input type="file"  id="file" accept="image/*" name="profile_pic" />
            <input type="submit" name="btn_upload_profile_pic" value="Upload" />
        </form>
</div>
<!-- rest -->
<br><br>

<p class="text-center"><a href="/jobs/6065613c4cf40bcab8cf33ee">Complete your progress</a></p>
<br><br>
<h2><span> Courses you're enrolled in </span></h2> <br><br><br>

   	<!--  First course --> 
		<table style="border-color: black">
			
			<tr style="background-color: #ddd"> 
				<td colspan="2"> <img src="/images/pink.jpg"style="width: 300px;height: 150px;margin-left: 20px;margin-right: 20px;margin-top: 10px" > 
				</td>
			</tr>
			<tr style="background-color: #ddd">
				<td colspan="2"> <p style="margin-left: 10px"> Introduction To Python Programming  </p>  </td>		
			</tr>
			<tr style="background-color: white">
				<td colspan="2"> <p style="margin-left: 10px"> Mazen Mohammed Shebeta </p> </td>
			</tr>

		</table>
    </td>
<!-- End of first course -->
<br><br>
<h2><span> Badges you've earned </span></h2> <br>
<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
<br>