
    <!DOCTYPE html>
    <html>

    <head>
        <title>Sign up </title>
        <link rel="stylesheet" type="text/css" href="/css/Sign_upstyle.css">
    </head>

    <body>
        <div class="bg"></div>
        <div class="Sign_up">
            <br>
            <h1 style="color: #070707">Join US</h1> <br>
            <form action="/users/register" method="POST">
                <table>
                    <tr>

                        <td> <input type="text" name="fname" placeholder="First Name" class="input-box"
                                style="float: left;margin-left: 20px;width: 200px" value="<%= typeof fname != 'undefined' ? fname : '' %>"> </td>
                        <td> <input type="text" name="lname" placeholder="Last Name" class="input-box" style="width: 220px" value="<%= typeof lname != 'undefined' ? lname : '' %>">
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2"><input type="number" name="age" placeholder="Age"class="input-box" 
                            style="float: left;margin-left: 20px;width: 94%" value="<%= typeof age != 'undefined' ? age : '' %>" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="email" name="email" placeholder="E-mail" class="input-box" 
                                style="float: left;margin-left: 20px;width: 94%" value="<%= typeof email != 'undefined' ? email : '' %>"> </td>
                    </tr>

                    <tr>
                        <td colspan="2"> <input type="password" name="password" placeholder="Password" class="input-box"
                                style="float: left;margin-left: 20px;width: 94%" value="<%= typeof password != 'undefined' ? password : '' %>"> </td>
                    </tr>


                    <tr>
                        <td colspan="2"> <input type="password" name="password2" placeholder="Retype Password" class="input-box"
                                style="float: left;margin-left: 20px;width: 94%" value="<%= typeof password2 != 'undefined' ? password2 : '' %>"> </td>
                    </tr>
                    <tr>
                        <td colspan="2"> <input type="submit" class="Sign_up_btn"> </td>
                    </tr>
                </table>
            </form>

            <%- include ('./partials/messages') %>


            <p>Have An Account? <a href="/users/login">Login</a></p>
            <br><br><br>
        </div>



    </body>

    </html>